body{
    background-color: aliceblue;
}
h3{color: blueviolet;}
        label{color:brown;}
        #title{
            text-align: center;
            color: rgb(9, 51, 51);}
            img{
                border: black 2px solid;
                padding: 10px;
                margin: 100px;
            }